.cscs-logo {
  height: @layout-header-height;
  background-color: @primary-color;
}

.cscs-header {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  font-size: 14px;
  box-shadow: @box-shadow-1;
}

.cscs-sidebar {
  z-index: 2;
  box-shadow: @box-shadow-1;
}

.cscs-default-content {
  padding: 0 @alain-default-content-padding;
}
