<page-header autoTitle="false"></page-header>
<nz-card>
  <article nz-typography>
    <h2 nz-typography>{{ 'component.icon' | translate }}</h2>
    <nz-divider></nz-divider>
    <ng-container *ngFor="let name of categoryNames">
      <h4 nz-typography>{{ i18nMap[name] | translate }}</h4>
      <div class="anticons-list">
        <i *ngFor="let iconName of iconMap[name]" class="point cscs-icon" nz-icon [nzType]="'svg:' + iconName"
          (click)="onIconClick($event, iconName)"></i>
      </div>
    </ng-container>
  </article>
</nz-card>
